<!-- Footer -->
<section id='footer'>
	
	<!-- Plan du site -->
	<section id='footer-map'>
		<ul>
			<h3> Plan du site</h3>
			<li><a href='{{rootUri}}/'>Accueil</a></li>
			<li><a href='{{rootUri}}/evenements'>Recherche</a></li>
			<li><a href='{{rootUri}}/inscription'>Inscription</a></li>
			<li><a href='{{rootUri}}/'>F.A.Q</a></li>
		</ul>

		<ul>
			<h3> Catégories</h3>
			<li> <a href='{{rootUri}}/evenements/?tags=&cat=Marathon'>Marathon</li>
			<li> <a href='{{rootUri}}/evenements/?tags=&cat=VTT'>Vtt</li>
		</ul>
	</section>

	<!-- Info -->
	<section id='footer-info'>
		<p> <a href='{{rootUri}}/mentions'>Mentions légales</a>, © CoolRacing</p>
	</section>
</section>