<section id='nav'>
	<a href='{{rootUri}}/' ><span id='logo'></span></a>
	<ul>
		<li id='menu-tablet'><img src='{{rootUri}}/src/media/assets/datas/icones/nav.png' alt='Menu'></li>
		<li><a href='{{rootUri}}/'><label> Tendances </label><img src='{{rootUri}}/src/media/assets/datas/icones/home.png' alt='Menu'></a></li>
		<li><a href='{{rootUri}}/evenements/'><label> Recherche </label><img src='{{rootUri}}/src/media/assets/datas/icones/search.png' alt='Menu'></a></li>
		<li><a href='{{rootUri}}/faq'><label> F.A.Q </label><img src='{{rootUri}}/src/media/assets/datas/icones/help.png' alt='Menu'></a></li>
	</ul>
</section>
