{% extends "main.html.twig" %}
{% block main_content %}

<!-- Page Content -->
	<section id='main'>

		<!-- events à cenir -->
		<section class='event-list'>
			<div class='eventList-head'>
				<img src='{{rootUri}}/src/media/assets/datas/icones/popular-round.png' alt='New'/>
				<h1> Événements à venir </h1>
			</div>
			<ul id='new'>
				{% for event in events %}
					{% if event.classement == '' %}
					<li>
						<a href='{{rootUri}}/evenements/{{event.id}}'>
							<img src='{{rootUri}}/src/media/assets/datas/images/default.png' alt='no image'/>
							<div>
								<h2>{{event['titre']}}</h2>
								{# <p>Organisé par: <strong> {{eventCat1.linkOrg.organisateur.nom_structure}} </strong> </p> #}
								<p>Lieu: <strong> {{event['lieu']}}</strong></p>
								<p>Date: <strong> {{event.dateEvenement}}</strong></p>
							</div>
						</a>
					</li>
					{% endif %}
		    	{% endfor %}
			</ul>
		</section>

		<!-- events passés -->
		<section class='event-list'>
			<div class='eventList-head'>
				<img src='{{rootUri}}/src/media/assets/datas/icones/popular-round.png' alt='New'/>
				<h1> Événements passés </h1>
			</div>
			<ul id='new'>
				{% for event in events %}
					{% if event.classement != '' %}
					<li>
						<a href='{{rootUri}}/evenements/{{event.id}}'>
							<img src='{{rootUri}}/src/media/assets/datas/images/{{event.idCategorie}}.png' alt='no image'/>
							<div>
								<h2>{{event['titre']}}</h2>
								{# <p>Organisé par: <strong> {{eventCat1.linkOrg.organisateur.nom_structure}} </strong> </p> #}
								<p>Lieu: <strong> {{event['lieu']}}</strong></p>
								<p>Date: <strong> {{event.dateEvenement}}</strong></p>
								<p>Position : {{event.classement['position']}}</p>
							</div>
						</a>
					</li>
					{% endif %}
		    	{% endfor %}
			</ul>
		</section>

	</section>
{% endblock %}