<!DOCTYPE html>
<html lang='fr'>
    <head>
            <meta charset="utf-8">
            <meta name="keywords" content="Sport, évènements, gestion, marathon" />
            <meta name='viewport' content='width=device-width, initial-scale=1.0'>
            <title> CoolRacing</title>
            <link rel='stylesheet'href="{{rootUri}}/src/media/assets/stylesheets/stylesheets/style.css">
            <link rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css' />
            <link rel='stylesheet' href='{{rootUri}}/src/media/assets/node_modules/leaflet-routing-machine/css/leaflet-routing-machine.css' />
            <link rel="apple-touch-icon" sizes="57x57" href="{{rootUri}}/src/media/assets/datas/favicons/apple-touch-icon-57x57.png">
            <link rel="apple-touch-icon" sizes="60x60" href="{{rootUri}}/src/media/assets/datas/favicons/apple-touch-icon-60x60.png">
            <link rel="apple-touch-icon" sizes="72x72" href="{{rootUri}}/src/media/assets/datas/favicons/apple-touch-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="76x76" href="{{rootUri}}/src/media/assets/datas/favicons/apple-touch-icon-76x76.png">
            <link rel="apple-touch-icon" sizes="114x114" href="{{rootUri}}/src/media/assets/datas/favicons/apple-touch-icon-114x114.png">
            <link rel="apple-touch-icon" sizes="120x120" href="{{rootUri}}/src/media/assets/datas/favicons/apple-touch-icon-120x120.png">
            <link rel="apple-touch-icon" sizes="144x144" href="{{rootUri}}/src/media/assets/datas/favicons/apple-touch-icon-144x144.png">
            <link rel="apple-touch-icon" sizes="152x152" href="{{rootUri}}/src/media/assets/datas/favicons/apple-touch-icon-152x152.png">
            <link rel="apple-touch-icon" sizes="180x180" href="{{rootUri}}/src/media/assets/datas/favicons/apple-touch-icon-180x180.png">
            <link rel="icon" type="image/png" href="{{rootUri}}/src/media/assets/datas/favicons/favicon-32x32.png" sizes="32x32">
            <link rel="icon" type="image/png" href="{{rootUri}}/src/media/assets/datas/favicons/android-chrome-192x192.png" sizes="192x192">
            <link rel="icon" type="image/png" href="{{rootUri}}/src/media/assets/datas/favicons/favicon-96x96.png" sizes="96x96">
            <link rel="icon" type="image/png" href="{{rootUri}}/src/media/assets/datas/favicons/favicon-16x16.png" sizes="16x16">
            <link rel="manifest" href="{{rootUri}}/src/media/assets/datas/favicons/manifest.json">
            <meta name="msapplication-TileColor" content="#2b5797">
            <meta name="msapplication-TileImage" content="{{rootUri}}/src/media/assets/datas/favicons/mstile-144x144.png">
            <meta name="theme-color" content="#ffffff">
            <script type='text/javascript' src='{{rootUri}}/src/media/assets/javascripts/jquery.js'></script>
            <script type='text/javascript' src='{{rootUri}}/src/media/assets/javascripts/function.js'></script>
            <script type='text/javascript' src='{{rootUri}}/src/media/assets/javascripts/listener.js'></script>
    </head>
    
    <body>
        <!-- Navigation Bar -->
        {% include "_navigation.html.twig" %}

        <!-- Control Panel -->
        {% if session == true %}
            {% include "_panel.html.twig" %} 
        {% else %}
            {% include "_panelDefault.html.twig" %}
        {% endif %}

        <!-- Fog -->
         <span id='fog'></span>

        <!-- Page Container -->
        <section id="page">

            {% block main_content %}

            {% endblock %}

            <!-- Footer -->
            {% include "_footer.html.twig" %}

        </section>
    </body>


    <script src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js'></script>
    <script src='{{rootUri}}/src/media/assets/node_modules/leaflet-routing-machine/dist/leaflet-routing-machine.min.js'></script>
    <script src='{{rootUri}}/src/media/assets/javascripts/map.js'> </script>
</html>